---
import Layout from "@layouts/Layout.astro";
---

<Layout title="お問い合わせ" description="お問い合わせページです。">
  <section class="mx-auto max-w-2xl px-4 py-12">
    <h1 class="mb-6 text-3xl font-bold">お問い合わせ</h1>
    <p class="mb-4">以下のフォームからお問い合わせください。</p>

    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLScxM1eGKw6Dz_OhFEZUP656XGJjQQ_FJVm-w0ynveX7OHjldQ/viewform?embedded=true"
      width="640"
      height="811"
      frameborder="0"
      marginheight="0"
      marginwidth="0">読み込んでいます…</iframe
    >
  </section>
</Layout>
